<phpunit
	convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
   	convertWarningsToExceptions="true">
  	<testsuites>
    	<testsuite name="J5onD8">
      		<directory>tests</directory>
    	</testsuite>
  	</testsuites>
  	<php>
		<ini name="display_errors" value="On" />
    	<ini name="error_reporting" value="32767" />
	</php>
</phpunit>